<<<<<<< HEAD
<<<<<<< HEAD
@model Portal.Models.TrackingDataModel
=======
@model Portal.Models.TrackingDataTableModel
>>>>>>> 433ea36... Portal v2.14.4.3
=======
@model Portal.Models.TrackingDataModel
>>>>>>> 698b6dd... Portal v2.14.4.4

<!--блок элементов над списком заказов-->
<div class="row headerTracking" style="margin-top: 10px; margin-bottom:10px">

    <!--фильтр ТТ-->
    <div class="headerTrackingItem">
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 698b6dd... Portal v2.14.4.4
        <select class="form-control form-control-sm" id="ttSelector" onchange="filters()">
            @if(@Model.TTDatas.Count() == 1)
            {
                <option id="0"> <b>Все точки</b> </option>
<<<<<<< HEAD

                foreach(var tt in Model.TTDatas)
                {
                    <option id="@tt.Location.Guid" selected> @tt.Location.Name </option>
                }
                

                @foreach (var tt in Model.Location.OrderBy(g => g.Name))
                {
                    <option id="@tt.Guid">@tt.Name</option>
                    ;
                    
                }
            }
            else
            {
                <option id="0" selected> Все точки </option>
                @foreach (var tt in Model.Location.OrderBy(g => g.Name))
                {
                    <option id="@tt.Guid">@tt.Name</option>
                    ;

                }
            }



=======
        <select class="form-control form-control-sm" id="ttSelector">
=======
>>>>>>> 698b6dd... Portal v2.14.4.4

                foreach(var tt in Model.TTDatas)
                {
                    <option id="@tt.Location.Guid" selected> @tt.Location.Name </option>
                }
                

                @foreach (var tt in Model.Location.OrderBy(g => g.Name))
                {
                    <option id="@tt.Guid">@tt.Name</option>
                    ;
                    
                }
            }
            else
            {
                <option id="0" selected> Все точки </option>
                @foreach (var tt in Model.Location.OrderBy(g => g.Name))
                {
                    <option id="@tt.Guid">@tt.Name</option>
                    ;

                }
            }
<<<<<<< HEAD
>>>>>>> 433ea36... Portal v2.14.4.3
=======



>>>>>>> 698b6dd... Portal v2.14.4.4
        </select>
    </div>

    <div class="headerTrackingItem">
        <p class="pTracking">С:</p>
<<<<<<< HEAD
<<<<<<< HEAD
        @* Получаем дату, которую отправили или дефолтную (сегодня-сегодня) *@
        <input type='date' class="calendarTracking" id="calendarBegin" onchange="filters()" value='@Model.TTDatas[0].DateDatas[0].Date.ToString("yyyy-MM-dd")'>
    </div>
    <div class="headerTrackingItem ">
        <p class="pTracking">По: </p> 
        <input type='date' class="calendarTracking" id="calendarEnd" onchange="filters()" value='@Model.TTDatas[0].DateDatas[^1].Date.ToString("yyyy-MM-dd")' >
    </div>

    <div class="headerTrackingItem">
        <select class="form-control form-control-sm" id="intervalSelector" onchange="editCalendar()">

            <option id="0" selected disabled hidden> --- </option>
            <option id="1" >Сегодня</option>
            <option id="2" >7 дней</option>
            <option id="3" >15 дней</option>
            <option id="4" >30 дней</option>
=======
        <input type='date' class="calendarTracking" value='@Model.BeginDate.ToString("yyyy-MM-dd")'>
=======
        @* Получаем дату, которую отправили или дефолтную (сегодня-сегодня) *@
        <input type='date' class="calendarTracking" id="calendarBegin" onchange="filters()" value='@Model.TTDatas[0].DateDatas[0].Date.ToString("yyyy-MM-dd")'>
>>>>>>> 698b6dd... Portal v2.14.4.4
    </div>
    <div class="headerTrackingItem ">
        <p class="pTracking">По: </p> 
        <input type='date' class="calendarTracking" id="calendarEnd" onchange="filters()" value='@Model.TTDatas[0].DateDatas[^1].Date.ToString("yyyy-MM-dd")' >
    </div>

    <div class="headerTrackingItem">
        <select class="form-control form-control-sm" id="intervalSelector" onchange="editCalendar()">

<<<<<<< HEAD
            <option id="0" selected>Сегодня</option>
            <option id="0" >7 дней</option>
            <option id="0" >15 дней</option>
            <option id="0" >30 дней</option>
>>>>>>> 433ea36... Portal v2.14.4.3
=======
            <option id="0" selected disabled hidden> --- </option>
            <option id="1" >Сегодня</option>
            <option id="2" >7 дней</option>
            <option id="3" >15 дней</option>
            <option id="4" >30 дней</option>
>>>>>>> 698b6dd... Portal v2.14.4.4

        </select>
    </div>

</div>

<!--таблица заказов-->
<div class="panel panel-default" id="OrdersFranch">

    <div class="table-responsive">
        <table class="table" style="vertical-align: middle;" id="fOrdersTable">

            <tbody>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 698b6dd... Portal v2.14.4.4

                    @{  
                        var tts = Model.TTDatas.OrderBy(g => g.Location.Name);
                        
                    }
                    <!--точки-->
<<<<<<< HEAD
                    @foreach (var tt in tts)
                    {
                        <tr class="row-group-01" id="rowTracking mainTR_@tt.Location.Guid" style="vertical-align: middle;">
                            <td style="vertical-align: middle;"><label><input class="hidden" type="checkbox" id="@tt.Location.Guid"><b>@tt.Location.Name</b></label></td>
                            <td style="vertical-align: middle;" id="tdcell"></td>
                            <td style="vertical-align: middle;" align="center" colspan="1" ></td>
                        </tr>

                        <!--Даты-->
                        @foreach (var day in tt.DateDatas)
                        {   
                                var countPerson = day.TimeSheets.Count().ToString();
                            switch (day.TimeSheets.Count().ToString().Last())
                            {
                                case '1':
                                    {
                                        countPerson += " смена";
                                        break;
                                    }
                                case '2':
                                case '3':
                                case '4':
                                    {
                                        countPerson += " смены";
                                        break;
                                    }
                                default:
                                    {
                                        countPerson += " смен";
                                        break;
                                    }
                            }
                            <tr class="row-group-02 hidden day_@tt.Location.Guid">
                                <td style="vertical-align: middle;" align="left"><label><input class="hidden" type="checkbox" id='@day.Date.ToString("dd-MM-yyyy")_@tt.Location.Guid'> @day.Date.ToString("dd-MM-yyyy")</label></td>
                                <td style="vertical-align: middle;" align="center"> @countPerson</td>
                                <td style="vertical-align: middle;" align="center"><label class="md-edit ico" onclick='SheduleEdit()'></label></td>
                            </tr>
                         
                            <!--Сотрудники-->
                            @foreach (var person in day.TimeSheets.OrderBy(g => g.Personality.Surname))
                            {
                                var SNP = @person.Personality.Surname +' '+ @person.Personality.Name +' '+ @person.Personality.Patronymic;
                                <tr class='row-group-03 hidden person_@day.Date.ToString("dd-MM-yyyy")_@tt.Location.Guid'>
                                    <td class="hidden">@person.Guid</td> @* Guid пользователя *@
                                    <td style="vertical-align: middle;" class="mobile-hide">@SNP</td>
                                    <td style="text-align:left; vertical-align: middle;">@person.JobTitle.Name</td>
                                    <td>@person.Begin.ToString("HH:mm") - @person.End.ToString("HH:mm") </td>
                                </tr>
                            } 
                        } 
                    } 

              
=======
                @if (Model.TTs.Count() > 0)
                {
                    var tts = Model.TTs.OrderBy(g => g.Code);
                    int[] days = new int[] {1};
                    string[] persons = new string[] {"Кургузов Владислав Сергеевич","Зубенко Михаил Петрович", "Помогите Помог Помагатович"};
=======
>>>>>>> 698b6dd... Portal v2.14.4.4
                    @foreach (var tt in tts)
                    {
                        <tr class="row-group-01" id="rowTracking mainTR_@tt.Location.Guid" style="vertical-align: middle;">
                            <td style="vertical-align: middle;"><label><input class="hidden" type="checkbox" id="@tt.Location.Guid"><b>@tt.Location.Name</b></label></td>
                            <td style="vertical-align: middle;" id="tdcell"></td>
                            <td style="vertical-align: middle;" align="center" colspan="1" ></td>
                        </tr>

                        <!--Даты-->
                        @foreach (var day in tt.DateDatas)
                        {   
                                var countPerson = day.TimeSheets.Count().ToString();
                            switch (day.TimeSheets.Count().ToString().Last())
                            {
                                case '1':
                                    {
                                        countPerson += " смена";
                                        break;
                                    }
                                case '2':
                                case '3':
                                case '4':
                                    {
                                        countPerson += " смены";
                                        break;
                                    }
                                default:
                                    {
                                        countPerson += " смен";
                                        break;
                                    }
                            }
                            <tr class="row-group-02 hidden day_@tt.Location.Guid">
                                <td style="vertical-align: middle;" align="left"><label><input class="hidden" type="checkbox" id='@day.Date.ToString("dd-MM-yyyy")_@tt.Location.Guid'> @day.Date.ToString("dd-MM-yyyy")</label></td>
                                <td style="vertical-align: middle;" align="center"> @countPerson</td>
                                <td style="vertical-align: middle;" align="center"><label class="md-edit ico" onclick='SheduleEdit()'></label></td>
                            </tr>
                         
                            <!--Сотрудники-->
                            @foreach (var person in day.TimeSheets.OrderBy(g => g.Personality.Surname))
                            {
                                var SNP = @person.Personality.Surname +' '+ @person.Personality.Name +' '+ @person.Personality.Patronymic;
                                <tr class='row-group-03 hidden person_@day.Date.ToString("dd-MM-yyyy")_@tt.Location.Guid'>
                                    <td class="hidden">@person.Guid</td> @* Guid пользователя *@
                                    <td style="vertical-align: middle;" class="mobile-hide">@SNP</td>
                                    <td style="text-align:left; vertical-align: middle;">@person.JobTitle.Name</td>
                                    <td>@person.Begin.ToString("HH:mm") - @person.End.ToString("HH:mm") </td>
                                </tr>
                            } 
                        } 
                    } 

<<<<<<< HEAD
                    }
                }
>>>>>>> 433ea36... Portal v2.14.4.3
=======
              
>>>>>>> 698b6dd... Portal v2.14.4.4
            </tbody>
        </table>
    </div>
</div>

@* -------------------------------------------------------------- *@

<<<<<<< HEAD
<<<<<<< HEAD
=======
<script>
    @* var orderTypeId = @Model.orderType.Id; *@
</script>
>>>>>>> 433ea36... Portal v2.14.4.3
=======
>>>>>>> 698b6dd... Portal v2.14.4.4

<!--редактировать смену-->
<script>
    function SheduleEdit() {
        $('#page').empty();
        $('#page').load('/TimeTracking/TrackingDataEdit', function () { SpinnerHide(); }); 
    }
</script>


<!--группировка по ТТ-->
<script>
    $('.row-group-01').click(function () {
        var check = $(this).children('td').children('label').children('input');
<<<<<<< HEAD
<<<<<<< HEAD
        var items = '.day_' + $(check).attr('id');
=======
        var items = '.days_' + $(check).attr('id');
        console.log(check)
        console.log(items)
>>>>>>> 433ea36... Portal v2.14.4.3
=======
        var items = '.day_' + $(check).attr('id');
>>>>>>> 698b6dd... Portal v2.14.4.4
        if (!$(check).is(':checked')) {
            $(check).prop('checked', true);
            $(items).removeClass('hidden');
        }
        else {
            $(items).each(function () {
                var check01 = $(this).children('td').children('label').children('input');
<<<<<<< HEAD
<<<<<<< HEAD
                var items01 = '.person_' + $(check01).attr('id');
=======
                var items01 = '.persons_' + $(check01).attr('id');
>>>>>>> 433ea36... Portal v2.14.4.3
=======
                var items01 = '.person_' + $(check01).attr('id');
>>>>>>> 698b6dd... Portal v2.14.4.4
                if ($(check01).prop('checked')) {
                    $(check01).prop('checked', false);
                    $(items01).addClass('hidden');
                }
            });

            $(check).prop('checked', false);
            $(items).addClass('hidden');
        }
    });
</script>

<<<<<<< HEAD
<<<<<<< HEAD
<!--группировка по дню-->
<script>
    $('.row-group-02').click(function () {
        var check = $(this).children('td').children('label').children('input');
        var items = '.person_' + $(check).attr('id');
=======
<!--группировка по заказу-->
<script>
    $('.row-group-02').click(function () {
        var check = $(this).children('td').children('label').children('input');
        var items = '.persons_' + $(check).attr('id');
        console.log(check)
        console.log(items)
>>>>>>> 433ea36... Portal v2.14.4.3
=======
<!--группировка по дню-->
<script>
    $('.row-group-02').click(function () {
        var check = $(this).children('td').children('label').children('input');
        var items = '.person_' + $(check).attr('id');
>>>>>>> 698b6dd... Portal v2.14.4.4
        if (!$(check).is(':checked')) {
            $(check).prop('checked', true);
            $(items).removeClass('hidden');
        }
        else {
            $(check).prop('checked', false);
            $(items).addClass('hidden');
        }
    });
</script>

<!--мобильная версия-->
<script>
    var curOrient = '';

    // переключение по ориентации экрана
    function autoScreenLoad() {
        var width = $(window).width();
        var height = $(window).height();
        orient = width / height;

        if (orient > 1 & curOrient != 'horizontal') {
            curOrient = 'horizontal';
            $('.mobile-hide').show();
        }

        if (orient < 1 & curOrient != 'vertical') {
            curOrient = 'vertical';
            $('.mobile-hide').hide();
        }
    }

    $(window).resize(function () {
        autoScreenLoad();
    });
</script>

<!--селектор дат-->
<script>
    $('#dateSelector').on('change', function () {
        filters();
    });
</script>

<<<<<<< HEAD
<<<<<<< HEAD

<!--Изменение календаря через выбор промежутка-->
<script>
    const startBeginDate = document.getElementById('calendarBegin').value
    const endBeginDate = document.getElementById('calendarEnd').value
    console.log(endBeginDate)

    function editCalendar() {
        let calendarBegin = document.getElementById("calendarBegin");
        let calendarEnd = document.getElementById("calendarEnd");
        calendarBegin.value = startBeginDate;
        calendarEnd.value = endBeginDate;
        const intervalSelector = document.getElementById('intervalSelector').value;

        function editDate(days){
            let date = Date.now()
            date = date - (60 * 60 * 24 * days * 1000);
            date = new Date(date)
            let year = date.getFullYear();
            let month = ("0" + (date.getMonth() + 1)).slice(-2);
            let day = ("0" + date.getDate()).slice(-2);
            let result = year + "-" + month + "-" + day;
            return result;
        }
        if(intervalSelector === '7 дней'){
            calendarBegin.value = editDate(7)
        }
        else if(intervalSelector === '15 дней'){
            calendarBegin.value = editDate(15)
        }
        else if(intervalSelector === '30 дней'){
            calendarBegin.value = editDate(30)
        }
        else if(intervalSelector === 'Сегодня'){
            calendarBegin.value = editDate(0)
        }
        filters()
    }
=======
<!--селектор ТТ-->
<script>
    $('#ttSelector').on('change', function () {
        filters();
    });
>>>>>>> 433ea36... Portal v2.14.4.3
=======

<!--Изменение календаря через выбор промежутка-->
<script>
    const startBeginDate = document.getElementById('calendarBegin').value
    const endBeginDate = document.getElementById('calendarEnd').value
    console.log(endBeginDate)

    function editCalendar() {
        let calendarBegin = document.getElementById("calendarBegin");
        let calendarEnd = document.getElementById("calendarEnd");
        calendarBegin.value = startBeginDate;
        calendarEnd.value = endBeginDate;
        const intervalSelector = document.getElementById('intervalSelector').value;

        function editDate(days){
            let date = Date.now()
            date = date - (60 * 60 * 24 * days * 1000);
            date = new Date(date)
            let year = date.getFullYear();
            let month = ("0" + (date.getMonth() + 1)).slice(-2);
            let day = ("0" + date.getDate()).slice(-2);
            let result = year + "-" + month + "-" + day;
            return result;
        }
        if(intervalSelector === '7 дней'){
            calendarBegin.value = editDate(7)
        }
        else if(intervalSelector === '15 дней'){
            calendarBegin.value = editDate(15)
        }
        else if(intervalSelector === '30 дней'){
            calendarBegin.value = editDate(30)
        }
        else if(intervalSelector === 'Сегодня'){
            calendarBegin.value = editDate(0)
        }
        filters()
    }
>>>>>>> 698b6dd... Portal v2.14.4.4
</script>

<!--фильтры-->
<script>
    function filters() {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 698b6dd... Portal v2.14.4.4
        let ttVal = $("option:selected", '#ttSelector').attr('id');
        console.log(ttVal)
        const calendarBegin = document.getElementById("calendarBegin").value;
        const calendarEnd = document.getElementById("calendarEnd").value;
        const ttSelector = document.getElementById('ttSelector');
        let selectedOption = ttSelector.options[ttSelector.selectedIndex];
        let selectedOptionId = selectedOption.getAttribute("id");
        console.log('/TimeTracking/TrackingdataTable?begin=' + calendarBegin + '&end=' + calendarEnd + '&tt=' + selectedOptionId)
<<<<<<< HEAD
        $('#loading').show();
        $('#OrdersFranch').empty();
        $(contentContainer).load('/TimeTracking/TrackingdataTable?begin=' + calendarBegin + '&end=' + calendarEnd + '&locationguid=' + selectedOptionId);
=======
        var dateVal = $('#dateSelector').val();
        if (dateVal == 'текущие заказы') dateVal = 'current';
        if (dateVal == 'все заказы') dateVal = 'all';

        var ttVal = $("option:selected", '#ttSelector').attr('id');
        if (ttVal == '0') ttVal = 'all';

        $('#loading').show();
        $('#OrdersFranch').empty();
        $(contentContainer).load('/ttOrders/OrdersList?dateString=' + dateVal + '&ttString=' + ttVal + '&orderTypeId=' + orderTypeId);
>>>>>>> 433ea36... Portal v2.14.4.3
=======
        $('#loading').show();
        $('#OrdersFranch').empty();
        $(contentContainer).load('/TimeTracking/TrackingdataTable?begin=' + calendarBegin + '&end=' + calendarEnd + '&locationguid=' + selectedOptionId);
>>>>>>> 698b6dd... Portal v2.14.4.4
    }
</script>

<!--по загрузке страницы-->
<script>
    $(document).ready(function () {
        autoScreenLoad();
        $('#loading').hide();  
    });
</script>