@model Portal.Models.TrackingDataEditModel

<div class="row" id="fordres_editor">
    <!--группы-->
    <div class="col-sm-2">
        <div class="col-4 panel panel-default height" style="margin-bottom: 10px">

            <table class="table">
                <tr> 
                    <th class="bg-primary">Должность</th>
                </tr>
    
                @foreach (var item in Model.JobTitles)
                {
                    <tr class="getJobTitleData"> 
                        <td><input type="checkbox" class="hidden"><label>@item.Name</label></td>
                        <td class="hidden TTForHeader">@Model.TTData.Location.Name</td>
                        <td class="hidden TTIdForHeader">@Model.TTData.Location.Guid</td>
                        <td class="hidden jobTitleId">@item.Guid</td>
                        <td class="hidden dateForHeader"> @Model.TTData.DateDatas[0].Date.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
             </table>
        </div>
    </div>
    <!--SKU-->
    <div class="col-sm-5">
        <div class="col-4 panel panel-default height" style="margin-bottom: 10px">

            <table class="table">

                <tr class="bg-primary">
                    <th width="60%" class="text-center">Сотрудник</th>
                    <th width="30%" class="text-center"></th>
                    <th width="10%" class="text-center"></th>
                </tr>
                @foreach (var item in Model.Personalities)
                {
                    <tr class="personList hidden"> 
                        <td class="hidden">@item.Guid</td>
                        <td><input type="checkbox" class="hidden"><label>@item.Surname @item.Name @item.Patronymic</label></td>
                        <td>@item.JobTitle.Name</td>
                        <td class="hidden">@item.JobTitle.Guid</td>
                        <td class="hidden">@item.Location.Guid</td>
                        <td onclick="alert('Добавлен')"><label class="md-add-circle-outline ico" style="margin: 0;"></label> </td>
                    </tr>
                }

            </table>

            <div class="scroll" id="skuTables">
            </div>

        </div>


    </div>

            <!--заказ-->
    <div class="col-sm-5">
        <div class="col-4 panel panel-default height" style="margin-bottom: 10px">

            <table class="table">
                <tr class="bg-primary">
                    <th width="40%" class="text-left">Сотрудник</th>
                    <th width="30%" class="text-left">Должность</th>
                    <th width="30%" class="text-left">Время</th>
                    <th width="5%" class="text-center"></th>
                </tr>
            </table>

            <!--sku  в заказе-->
            <div class="scroll" id="SkuInOrder">
                <table class="table" id="FOrdersItemsTable">
                    <tr></tr>

                    <tr>
                        <td style="vertical-align: middle;" width="35%">
                            Кургузов Владислав Сергеевич
                        </td>

                        <td style="vertical-align: middle;" width="20%">
                            Директор
                        </td>

                        <td style="vertical-align: middle;" width="30%">
                            <input type="time"> - <input type="time">
                        </td>
                        
                        <td style="vertical-align: middle;" width="5%">
                            <label class="md-remove-circle-outline ico" style="margin: 0;"></label>
                        </td>

                    </tr>

                </table>
            </div>


                </div>

                <!--кнопки сохранить/отмена-->
        <div class="col-4" style="height:40px">
            <button class="btn btn-success" href="javascript:void(0)" type="button" onclick="SendOrder()" style="float:right">Сохранить</button>
        </div>
    </div>
</div>


<script>
    let tt = document.querySelector('.TTForHeader').textContent
    let date = document.querySelector('.dateForHeader').textContent
    $('#header').text(date + '  ' + tt);
    $('#back').unbind('click');
    $('#back').click(function () { 
        $(contentContainer).load('/TimeTracking/TrackingData')});
</script>



<script>

    $(".getJobTitleData").click(function (event) {
        let elem = this;
        let allJobTitle = document.querySelectorAll('.getJobTitleData')
        let allPerson = document.querySelectorAll('.personList')
        // Получаем guid должности
        let jobTitle = this.children[3].textContent;
        // Получаем guid должности
        let ttguid = this.children[2].textContent;
        if(elem.classList.contains('active1')){
            elem.classList.remove('active1');
            allPerson.forEach((str) => {
                str.classList.add('hidden')
            })
        }else{
            allJobTitle.forEach((str) => {
                str.classList.remove('active1')
            })
            allPerson.forEach((str) => {
                str.classList.add('hidden')
            })
            elem.classList.add('active1');
            allPerson.forEach((str) => {
                if(str.children[2].textContent == jobTitle && str.children[3].textContent == ttguid){
                    str.classList.remove('hidden')
                }
            })
        }
    })
</script>