@model List<Portal.Models.MSSQL.PromocodesVK>

<!--шапка-->
<div id="headMenu" class="row" style="margin:0px">
    <div class="col-12">

        <!--блок заголовка-->
        <table class="table-page-menu" style="margin-top: 10px; margin-bottom: 10px">
            <tbody>
                <tr>
                    <!--назад-->
                    <td id="back" style="text-align:left; width:100px; cursor:pointer">
                        <img src="/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24" style="cursor:pointer">
                        <label style="margin-left:10px; cursor:pointer">назад</label>
                    </td>
                    <!--заголовок-->
                    <td>
                        <h2 id="header" style="margin:0px; margin-left:5px; margin-right:20px; margin-bottom:6px"></h2>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--меню таблицы-->
        <div class="tableMenu" id="tableMenu">

            <button id="addCoupon" class="btn btn-success btn">Добавить</button>

            <div class="couponsLeft"> Осталось купонов: @Model.Count </div>

            <div class="userActive">
                <span class="textForCheckbox">Отображать только активные купоны</span>
                <label class="switch">
                    <input type="checkbox" class="switch__input" id="closedPersonality" onchange="hideOrShowCoupons(this)">
                    <span class="switch__slider"></span>
                </label>
            </div>

        </div>

        <!--меню добавления пользователя-->
        <div id="addMenu" class="col-md-12" style="margin-top:10px; padding:0px"></div>
    </div>
</div>


<!--таблица пользователей-->
<div class="panel panel-default" id="personTable" style="margin-bottom:0px">
    <div class="panel-body">
        <div class="row mb-4 mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        @try
                        {
                            <table class="data-table nowrap" id="tableDataPerson">
                                <thead>
                                    <tr>
                                        <th>Название купона</th>
                                        <th>Кодовое слово</th>
                                        <th>Ссылка</th>
                                        <th style="text-align: center">Дата начала</th>
                                        <th style="text-align: center">Дата конца</th>
                                        <th style="text-align: center">Статус</th>

                                    </tr>
                                </thead>
                                <tbody id="tablePerson">
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.ID" class="activeRow">
                                            <td class="tdPersonTable">
                                                <p class="list-item-heading">@item.Name</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="list-item-heading">@item.CodeWord</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="userName text-muted">@item.Link</p>
                                            </td>
                                            <td class="tdPersonTable" style="text-align: center">
                                                <p class="text-muted">@item.StartDate.ToString("dd-MM-yyyy")</p>
                                            </td>
                                            <td class="tdPersonTable" style="text-align: center">
                                                <p class="text-muted">@item.EndDate.ToString("dd-MM-yyyy")</p>
                                            </td>


                                            @if (@item.Active == 1)
                                            {
                                                <td class="tdPersonTable" style="text-align: center">
                                                    <p class='green_p couponStatus'></p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="tdPersonTable " style="text-align: center">
                                                    <p class='red_p couponStatus'></p>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        catch
                        {
                            <div> Данных нет :( </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal-overlay">
    <div class="modal-content">
        <div class="flex">
            <form onsubmit="uploadPhoto(event)">
                <label class="label-light">Кодовое слово</label>
                <input id="codeWord" required class="border" />
                <label class="label-light">Дата начала</label>
                <input id="startDate" type="date" required class="border" />
                <label class="label-light">Дата конца</label>
                <input id="endDate" type="date" class="border" required />
                <label class="label-light">Купоны</label>
                <input type="file" id="coupon" required multiple/>
                <input type="submit" multiple class="btn btn-success btn-sm">
            </form>
        </div>
    </div>
</div>


<!--инициализация таблицы-->
<script>
    var height = $('#global').height() - $('#cm-header').height() - $('#headMenu').height();

    var table = $(".data-table").DataTable({
        "ordering": false,
        searching: true,
        bLengthChange: false,
        destroy: true,
        info: false,
        paging: false,
        sDom: '<"row view-filter"<"col-sm-12"<"float-left"l><"float-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
        responsive: true,
        deferRender: true,
        scrollY: height,
        scrollCollapse: true
    });

    table.order([0, 'asc']).draw();

    $("#searchDatatable").on("keyup", function () {
        table.search($(this).val()).draw();
    });

    $('.view-filter').hide();
</script>

<script>
    function uploadPhoto(event) {
        event.preventDefault();

        const formData = new FormData();
        const coupons = document.getElementById('coupon').files;
        const codeWord = document.getElementById('codeWord').value;
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;

        for (let i = 0; i < coupons.length; i++) {
            formData.append('files', coupons[i]);
        }

        formData.append('codeWord', codeWord);
        formData.append('startDate', startDate);
        formData.append('endDate', endDate);

        SpinnerShow();
        $.ajax({
            type: 'POST',
            url: `/Settings_VKBOT/UploadFiles`,
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                $('#container-fluid').load('/Settings_VKBOT/VKBOT?actual=1');
                SpinnerHide();
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
                SpinnerHide();
            }
        });
    }
</script>

<script>
    const openModalBtn = document.getElementById('addCoupon');
    const modalOverlay = document.querySelector('.modal-overlay');

    // Открытие модального окна
    openModalBtn.addEventListener('click', () => {
        modalOverlay.classList.add('show1');
    });

    // Закрытие модального окна при клике вне его содержимого
    modalOverlay.addEventListener('click', (e) => {
        if (e.target === modalOverlay) {
            modalOverlay.classList.remove('show1');
        }
    });


    function hideOrShowCoupons(elem) {
        if(elem.checked) {
            document.querySelectorAll('.couponStatus').forEach(x => {
                if(!x.classList.contains('green_p')) {
                    x.parentElement.parentElement.classList.add('hidden')
                }
            })
        } else {
            document.querySelectorAll('.couponStatus').forEach(x => {
                x.parentElement.parentElement.classList.remove('hidden')
            })
        }
    }

    $('#back').unbind('click');
    $('#back').click(function () { location.hash = "" });
    $("#PageHeader").text("Купоны для ВК");
</script>

<style>
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    /* Модальное окно */
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    /* Кнопка для открытия модального окна */
    .open-modal-btn {
        padding: 10px 20px;
        cursor: pointer;
    }

    /* Видимое состояние модального окна */
    .modal-overlay.show1 {
        visibility: visible;
        opacity: 1;
    }

    /* Стили для формы */
    .flex form {
        display: flex;
        flex-direction: column;
    }

    .flex label {
        margin-bottom: 5px;
    }

    .flex input {
        height: 40px;
        padding: 0;
        margin: 0;
        padding-left: 5px;
        margin-bottom: 10px;
        border-radius: 0px;
    }

    .border {
        border: 1px solid #aaa;
    }

    .couponsLeft {
        font-family: 'Akrobat-Light';
        font-size: 18px;
        display: flex;
        align-items: center;
    }
</style>