@model Portal.Models.MSSQL.Location.TTVersions

<!--таблица тт-->
<div class="panel panel-default" style="margin-bottom:0px">
    <div class="panel-body">
        <div class="row mb-4 mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="data-table nowrap">
                            <thead>
                                <tr>
                                    <th>Торговая точка</th>
                                    <th>Организация</th>
                                    <th>Код ТТ</th>
                                    <th>Код ОБД</th>
                                    <th>Тип</th>
                                    <th>Пользователи</th>
                                    <th>Кассы</th>
                                    <th>Камеры</th>
                                    <th>Яндекс Еда</th>
                                    <th>Delivery Club</th>
                                    <th>Дата открытия</th>
                                    <th>Дата закрытия</th>
                                    <th class="hidden">OldId</th>
                                    <th class="hidden">LocGuid</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tt in Model.LocationVersion.OrderBy(t => t.Name))
                                {
                                    var old = Model.OldTT.FirstOrDefault(x => x.Name == tt.Name);
                                    var organization = "";
                                    @if (tt?.Entity?.Name != null) organization = tt?.Entity.Name;

                                    var ttType = "";
                                    @if (tt?.Location?.LocationType?.Name != null) ttType = tt?.Location.LocationType.Name;

                                    var openDate = "";
                                    @if (tt?.VersionStartDate != null) openDate = tt?.VersionStartDate.Value.ToString("yyyy-MM-dd");

                                    var closeDate = "";
                                    @if (tt?.VersionEndDate != null) closeDate = tt?.VersionEndDate.Value.ToString("yyyy-MM-dd");


                                    <tr id="@tt?.Guid" class="activeRow" onclick="">
                                        <td>
                                            <p class="list-item-heading ttName">@tt?.Name</p>
                                        </td>
                                        <td>
                                            <p class="text-muted">@organization</p>
                                        </td>
                                        <td>
                                            <p class="text-muted">@tt.Location.AggregatorsCode</p>
                                        </td>
                                        <td>
                                            <p class="text-muted">@tt?.OBD</p>
                                        </td>
                                        <td>
                                            <p class="text-muted">@ttType</p>
                                        </td>
                                        <td>
                                            <p class="text-muted">@old?.Users.Count</p>
                                        </td>
                                        <td>
                                            <p class="text-muted">@old?.CashStations.Count</p>
                                        </td>
                                        <td>
                                            <p class="text-muted">@old?.NxCameras.Count</p>
                                        </td>
                                        <td>
                                            @if (old?.YandexEda == true)
                                            {
                                                <p class="text-muted"><i class="fa fa-fw fa-check"></i></p>
                                            }
                                            else
                                            {
                                                <p class="text-muted"><i class="fa fa-fw fa-minus"></i></p>
                                            }
                                        </td>
                                        <td>
                                            @if (old?.DeliveryClub == true)
                                            {
                                                <p class="text-muted"><i class="fa fa-fw fa-check"></i></p>
                                            }
                                            else
                                            {
                                                <p class="text-muted"><i class="fa fa-fw fa-minus"></i></p>
                                            }
                                        </td>
                                        <td>
                                            <p class="text-muted">@openDate</p>
                                        </td>
                                        <td>
                                            <p class="text-muted">@closeDate</p>
                                        </td>

                                        <td class="hidden">
                                            <p class="text-muted">@old?.Id</p>
                                        </td>

                                        <td class="hidden">
                                            <p class="text-muted locGuid">@tt?.Location.Guid</p>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!----------------------------------------------------------------------->
<!--вычисление высоты таблицы-->
<script>
    var height = $('#global').height();

    height -= $('#cm-header').height();
    height -= $('#headMenu').height();
</script>

<!--инициализация таблицы-->
<script>
    var table = $(".data-table").DataTable({
        "ordering": true,
        "order": [0, 'asc'],
        searching: true,
        bLengthChange: false,
        destroy: true,
        info: false,
        paging: false,
        sDom: '<"row view-filter"<"col-sm-12"<"float-left"l><"float-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
        responsive: !0,
        deferRender: !0,
        scrollY: height,
        scrollCollapse: !0
    });

    // сортируем по-умолчанию по первому столбцу
    table.order([0, 'asc']).draw();

    // поиск по таблице
    $("#searchDatatable").on("keyup", function (event) {
        table.search($(this).val()).draw();
    });

    // скрываем сверху таблицы фильтры data-table
    $('.view-filter').hide();

</script>

<!--клик по строке-->
<script>



    $('.activeRow').click(function () {
        var itemGuid = this.id;
        var locGuid = $(this).find('.locGuid').text()
        var qq = $(this).find('.locGuid').text()
        var itemName = $(this).find('.ttName').text();
        var headerName = "Версии для " + itemName;
    @*loadTTTableVersion(locGuid, headerName)*@
            EditItem(itemName, locGuid, 2)
    });
</script>

