@model List<Portal.Models.MSSQL.Factory.FactoryPerson>

<div id="headMenu" class="row" style="margin:0px">
    <div class="col-12" style="display:inline-block">
        <!--блок заголовка-->
        <table class="table-page-menu" style="margin-top: 10px; margin-bottom: 10px">
            <tbody>
                <tr>
                    <!--назад-->
                    <td id="back" style="text-align:left; width:100px; cursor:pointer">
                        <img src="/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24" style="cursor:pointer">
                        <label style="margin-left:10px; cursor:pointer">назад</label>
                    </td>
                    <!--заголовок-->
                    <td>
                        <h2 id="header" style="margin:0px; margin-left:5px; margin-right:20px; margin-bottom:6px"></h2>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--меню таблицы-->
        <div id="tableMenu" class="col-md-12" style="padding:0px">
            <input class="form-control-sm" placeholder="Поиск" id="searchDatatable">
            <a href="#AddTT" class="btn btn-sm btn-success addTTButton" onclick="AddItem()" style="margin-left:20px">добавить</a>
        </div>

        <!--меню добавления -->
        <div id="addMenu" class="col-md-12" style="margin-top:10px; padding:0px">
        </div>        
    </div>
</div>

<div class="panel panel-default" style="margin-bottom:0px">
    <div class="panel-body">
        <div class="row mb-4 mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="data-table nowrap tablePersonalityFactory">
                            <thead>
                                <tr>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th>Дата рождения</th>
                                    <th>ИНН</th>
                                    <th>СНИЛС</th>
                                    <th>Отдел</th>
                                    <th>Цех</th>
                                    <th>Должность</th>
                                    <th>Гражданство</th>
                                    <th>Юр. лицо</th>
                                    <th>Тип документа</th>
                                    <th>Номер телефона</th>
                                    <th>Номер карты</th>
                                    <th>Банк</th>
                                    <th>Дата въезда</th>
                                    <th>Дата выезда</th>
                                    <th>Дата приема на работу</th>
                                    <th>Дата увольнения</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr class="activeRow">
                                        <td>
                                            <p>@item.Surname</p>
                                        </td>
                                        <td>
                                            <p>@item.Name</p>
                                        </td>
                                        <td>
                                            <p>@item.Patronymic</p>
                                        </td>
                                        <td>
                                            <p>@item.Birthdate</p>
                                        </td>
                                        <td>
                                            <p>@item.INN</p>
                                        </td>
                                        <td>
                                            <p>@item.SNILS</p>
                                        </td>
                                        <td>
                                            <p>@item.DepartmentWorkshopJobTitle.DepartmentWorkshop.FactoryDepartment.Name</p>
                                        </td>
                                        <td>
                                            <p>@item.DepartmentWorkshopJobTitle.DepartmentWorkshop.FactoryWorkshop.Name</p>
                                        </td>
                                        <td>
                                            <p>@item.DepartmentWorkshopJobTitle.JobTitleWorkshop.FactoryJobTitle.Name</p>
                                        </td>
                                        <td>
                                            <p>@item.Citizenship.Name</p>
                                        </td>
                                        <td>
                                            <p>@item.Entity.Name</p>
                                        </td>
                                        <td>
                                            <p>@item.DocumentType.Name</p>
                                        </td>
                                        <td>
                                            <p>@item.Phone</p>
                                        </td>
                                        <td>
                                            <p>@item.CardNumber</p>
                                        </td>
                                        <td>
                                            <p>@item.Bank.Name</p>
                                        </td>
                                        <td>
                                            <p>@item.HostelChekin</p>
                                        </td>
                                        <td>
                                            <p>@item.HostelCheckOut</p>
                                        </td>
                                        <td>
                                            <p>@item.HiringDate</p>
                                        </td>
                                        <td>
                                            <p>@item.DismissedDate</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="paginationContainer"></div>


<!----------------------------------------------------------------------->
<!--вычисление высоты таблицы-->
<script>
    var height = $('#global').height();

    height -= $('#cm-header').height();
    height -= $('#headMenu').height();
</script>

<!--инициализация таблицы-->
<script>
    var table = $(".data-table").DataTable({
        paging: true,
        pageLength: 17, // Записей на странице
        "ordering": true,
        "order": [0, 'asc'],
        searching: true,
        destroy: true,
        bLengthChange: false,
        info: false,
        dom: 'tp',
        responsive: !0,
        autoWidth: false, // отключаем автоматические inline-ширины
        columnDefs: [
            { targets: "_all", width: "auto" } // все колонки авто
        ],
        deferRender: !0,
        language: {
            paginate: {
                first: '«',
                previous: '‹',
                next: '›',
                last: '»'
            },
        }
    });

    // переносим пагинацию один раз
    var paginate = $(table.table().container()).find('.dataTables_paginate').detach();
    $('#paginationContainer').append(paginate);

    // поиск по таблице
    $("#searchDatatable").on("keyup", function (event) {
        table.search($(this).val()).draw();
    });

    // скрываем сверху таблицы фильтры data-table
    $('.view-filter').hide();

</script>

<script>
    $("#PageHeader").text("Учет сотрудников (Завод)")
    $('#back').unbind('click');
    $('#back').click(function () { location.hash = "#staff" });
</script>

<script>
    $('.activeRow').click(function () {
        var personGuid = this.id;

        SpinnerShow();

        $('#container-fluid').load(`/PersonalityFactory/PersonalityFactoryAdd`, function () {
            SpinnerHide()
        });

    });
</script>