@model PersonalityVersionModel

<!--таблица версий пользователей-->
 <div class="panel panel-default" id="personTable" style="margin-bottom:0px">
    <div class="panel-body">
        <div class="row mb-4 mt-3" style='width: 100% !important; margin-left: 0;'>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <input id="Person_Guid" value="@Model.PersonalitiesVersions[0].Personalities.Guid" class="hidden">
                        @try
                        {
                            <table class="data-table nowrap" id="tableDataPerson">
                                <thead>
                                    <tr>
                                        <th>ФИО</th>
                                        <th class="hidden">Дата рождения</th>
                                        <th>Должность</th>
                                        <th>Место работы</th>
                                        <th>Дата приема на работу</th>
                                        <th>Дата увольнения</th>
                                        <th class="hidden">Смена</th>
                                        <th class="hidden">ЮЛ</th>
                                        <th class="hidden">ЮЛ разнесения затрат</th>
                                        <th>Дата начала версии</th>
                                        <th>Дата окончания версии</th>
                                        <th> Изменен </th>
                                        <th> Дата изменения </th>
                                    </tr>
                                </thead>
                                <tbody id="tablePerson">
                                    @{var uniquePersonalityVersions = Model.PersonalitiesVersions
                                    .Where(x => !Model.Errors.Any(c => c == x.Guid))
                                    .ToList();
                                    }
                                    @foreach (var user in uniquePersonalityVersions)
                                    {
                                        var BirthDate = @user.Personalities.BirthDate.ToString().Split(' ')[0];
                                        var HireDate = @user.HireDate.ToString().Split(' ')[0];
                                        var NSP = "";


                                        if(user?.Patronymic == null)
                                        {
                                            NSP = @user.Surname.ToString() + ' ' + @user.Name.ToString();
                                        } else
                                        {
                                            NSP = @user.Surname.ToString() + ' ' + @user.Name.ToString() + ' ' + @user?.Patronymic.ToString();
                                        }
                                        
                                        var DismissalsDate = @user.DismissalsDate.ToString().Split(' ')[0];

                                        <tr id="@user.Guid" class="activeRow" style="margin-right: 5px;" onclick="">
                                            <td class="tdPersonTable">
                                                <p class="list-item-heading userName">@NSP</p>
                                            </td>
                                            <td class="tdPersonTable hidden">
                                                <p class="text-muted ">@BirthDate</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="text-muted">@user.JobTitle?.Name</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="text-muted">@user.Location.Name</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="text-muted ">@HireDate</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="text-muted ">@DismissalsDate</p>
                                            </td>
                                            <td class="tdPersonTable hidden">
                                                <p class="text-muted ">@user.Schedule?.Name</p>
                                            </td>
                                            <td class="tdPersonTable hidden">
                                                <p class="text-muted ">@user.Entity?.Name</p>
                                            </td>
                                            <td class="tdPersonTable hidden">
                                                <p class="text-muted ">@Model.Entity.FirstOrDefault(x => x.Guid == user.EntityCostGuid).Name</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="text-muted ">@user.VersionStartDate.Value.ToString("dd.MM.yyyy")</p>
                                            </td>
                                            @if (user.VersionEndDate == null)
                                            {
                                                <td class="tdPersonTable deactiveForPersonVersion">
                                                    <p class="text-muted "></p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="tdPersonTable deactiveForPersonVersion">
                                                    <p class="text-muted ">@user.VersionEndDate.Value.ToString("dd.MM.yyyy")</p>
                                                </td>
                                            }

                                            @if (user?.ModifiedBy == null)
                                            {
                                                <td class="tdPersonTable">
                                                    <p class="text-muted ">Данных нет</p>
                                                </td>
                                            } else
                                            {
                                                <td class="tdPersonTable">
                                                    <p class="text-muted ">@user?.ModifiedBy</p>
                                                </td>
                                            }

                                            @if (user?.ModifiedDate == null)
                                            {
                                                <td class="tdPersonTable">
                                                    <p class="text-muted ">Данных нет</p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="tdPersonTable">
                                                    <p class="text-muted ">@user?.ModifiedDate.Value.ToString("dd.MM.yyyy")</p>
                                                </td>
                                            }
                                        </tr>
                                    }

                                    @{var uniquePersonalityErrorVersions = Model.PersonalitiesVersions
                                    .Where(x => Model.Errors.Any(c => c == x.Guid))
                                    .ToList();
                                    }

                                    @foreach (var user in uniquePersonalityErrorVersions)
                                    {
                                        var BirthDate = @user.Personalities.BirthDate.ToString().Split(' ')[0];
                                        var HireDate = @user.HireDate.ToString().Split(' ')[0];
                                        var NSP = "";


                                        if (user?.Patronymic == null)
                                        {
                                            NSP = @user.Surname.ToString() + ' ' + @user.Name.ToString();
                                        }
                                        else
                                        {
                                            NSP = @user.Surname.ToString() + ' ' + @user.Name.ToString() + ' ' + @user?.Patronymic.ToString();
                                        }

                                        var DismissalsDate = @user.DismissalsDate.ToString().Split(' ')[0];

                                        <tr id="@user.Guid" class="activeRow" style="margin-right: 5px; background-color: #ff9d9d" onclick="">
                                            <td class="tdPersonTable">
                                                <p class="list-item-heading userName">@NSP</p>
                                            </td>
                                            <td class="tdPersonTable hidden">
                                                <p class="text-muted ">@BirthDate</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                @if (user.JobTitle?.Name == null)
                                                {
                                                    <p class="text-muted">Парт-таймер</p>
                                                } else {
                                                    <p class="text-muted">@user.JobTitle.Name</p>
                                                }
                                                
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="text-muted">@user.Location.Name</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="text-muted ">@HireDate</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="text-muted ">@DismissalsDate</p>
                                            </td>
                                            <td class="tdPersonTable hidden">
                                                <p class="text-muted ">@user.Schedule?.Name</p>
                                            </td>
                                            <td class="tdPersonTable hidden">
                                                <p class="text-muted ">@user.Entity?.Name</p>
                                            </td>
                                            <td class="tdPersonTable hidden">
                                                <p class="text-muted ">@Model.Entity?.FirstOrDefault(x => x.Guid == user.EntityCostGuid).Name</p>
                                            </td>
                                            <td class="tdPersonTable">
                                                <p class="text-muted ">@user.VersionStartDate.Value.ToString("dd.MM.yyyy")</p>
                                            </td>
                                            @if (user.VersionEndDate == null)
                                            {
                                                <td class="tdPersonTable deactiveForPersonVersion">
                                                    <p class="text-muted "></p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="tdPersonTable deactiveForPersonVersion">
                                                    <p class="text-muted ">@user.VersionEndDate.Value.ToString("dd.MM.yyyy")</p>
                                                </td>
                                            }

                                            @if (user?.ModifiedBy == null)
                                            {
                                                <td class="tdPersonTable">
                                                    <p class="text-muted ">Данных нет</p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="tdPersonTable">
                                                    <p class="text-muted ">@user?.ModifiedBy</p>
                                                </td>
                                            }

                                            @if (user?.ModifiedDate == null)
                                            {
                                                <td class="tdPersonTable">
                                                    <p class="text-muted ">Данных нет</p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="tdPersonTable">
                                                    <p class="text-muted ">@user?.ModifiedDate.Value.ToString("dd.MM.yyyy")</p>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        catch
                        {
                            <div>Нет данных :(</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--вычисление высоты таблицы-->
<script>
    var height = $('#global').height();

    height -= $('#cm-header').height();
    height -= $('#headMenu').height();
</script>

<!--инициализация таблицы-->
<script>
    var table = $(".data-table").DataTable({
        "ordering": true,
        "order": [10, 'asc'],
        searching: true,
        bLengthChange: false,
        destroy: true,
        info: false,
        paging: false,
        sDom: '<"row view-filter"<"col-sm-12"<"float-left"l><"float-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
        responsive: !0,
        deferRender: !0,
        scrollY: height,
        scrollCollapse: !0
    });

    // поиск по таблице
    $("#searchDatatable").on("keyup", function (event) {
        table.search($(this).val()).draw();
    });

    // скрываем сверху таблицы фильтры data-table
    $('.view-filter').hide();
    $('#back').unbind('click');
    $('#back').click(function () { location.hash = "#Personality" });

</script>


<script>
    const typeGuid = $('#Person_Guid').val()
    $('.activeRow').click(function () {
        var itemId = this.id;
        var itemName = $(this).find('.userName').text();
        let newPerson = 2;

        EditItem(itemName, itemId, newPerson)
    });
</script>

<!-- Ограничение дат -->
<script>
    const tabbleMenu = document.getElementById('tableMenu')
    const notation = document.querySelector('.notation') ?? '';
    if (notation) {
        notation.remove();
    }

    const typeGuid = $('#Person_Guid').val()    
    $('#buttonAdd').unbind('click');
    $('#buttonAdd').click(function () {
        AddItem(typeGuid, 0)
    })
    $("#searchDatatable").on("input", function (event) {
        table.search($(this).val()).draw();
    });
</script>



@* Выделение ряда активной и неактивной версии *@
<script>
    const table = document.getElementById("tablePerson"); //Находим таблицу
    const rows = table.getElementsByTagName("tr"); //Получаем массив рядов

    for(let i = 0; i < rows.length; i++) { //Проходимся по каждому ряду
        if (rows[i].style.backgroundColor != 'rgb(255, 157, 157)') {
                let cell = rows[i].getElementsByTagName('td') //Получаем список ячеек
                // Проходимся по каждой ячейки в поисках "0"
                for (let j = 0; j < cell.length; j++) {
                    let td = cell[j]
                    if (td.classList.contains('deactiveForPersonVersion')) {
                        let text = td.getElementsByTagName('p')[0]
                        if (text.textContent != '') {
                            rows[i].style.backgroundColor = "#b4b4b47e";
                        }
                        else {
                            rows[i].style.backgroundColor = "#a4f3b57e";
                        }
                    }
                }
            }
        }
</script>

@* Возврат пользователя на старницу с настраиваемым сотрудником *@
<script>
    let currentPage = '@Model.CurrentPage';
    

    $('#back').unbind('click');
    $('#back').click(function () {
        $('.userActive').show();
        $('#header').text('Пользователи');
        $('#tableMenu').show();
        $('#page').load(`/Personality/PersonalityTable?showUnActual=${@Model.actual}&checkErrors=${@Model.errors}`, function () {});
    });
</script>