@model List<Portal.Models.PersonalityModel>

<!--таблица пользователей-->
<div class="panel panel-default"  id="personTable" style="margin-bottom:0px">
    <div class="panel-body">
        <div class="row mb-4 mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        @try
                        {
                        <table class="data-table nowrap" id="tableDataPerson" > 
                            <thead>
                                <tr>
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>Отчество</th>
                                    <th>Дата рождения</th>
                                    <th>Должность</th>
                                    <th>Место работы</th>
                                    <th class="hidden">Дата приема на работу</th>
                                    <th class="hidden">Дата увольнения</th>
                                    <th>Смена</th>
                                    <th>ЮЛ</th>
                                    <th>ЮЛ разнесения затрат</th>
                                    <th class='hidden'>Активность</th>
                                    <th align='center'>Статус</th>
                                </tr>
                            </thead>
                            <tbody id="tablePerson">
                                @for(var x=0; x < Model.Count();x++)
                                {
                                    <tr id="@Model[x].Personalities.Guid" class="activeRow">
                                        <td class="tdPersonTable">
                                            <p class="list-item-heading userName">@Model[x].PersonalitiesVersions.Name</p>
                                        </td>
                                        <td class="tdPersonTable">
                                            <p class="text-muted">@Model[x].PersonalitiesVersions.Surname</p>
                                        </td>
                                        <td class="tdPersonTable">
                                            <p class="text-muted">@Model[x].PersonalitiesVersions.Patronymic</p>
                                        </td>
                                        <td class="tdPersonTable">
                                            <p class="text-muted">@Model[x].Personalities.BirthDate.ToString("dd.MM.yyyy")</p>
                                        </td>
                                        <td class="tdPersonTable">
                                            <p class="text-muted">@Model[x].PersonalitiesVersions.JobTitle.Name</p>
                                        </td>
                                        <td class="tdPersonTable">
                                            <p class="text-muted">@Model[x].PersonalitiesVersions.Location.Name</p>
                                        </td>
                                        <td class="tdPersonTable hidden">
                                            <p class="text-muted">@Model[x].PersonalitiesVersions.HireDate.ToString("dd.MM.yyyy")</p>
                                        </td>
                                        <td class="tdPersonTable hidden">
                                            <p class="text-muted">@Model[x].PersonalitiesVersions.DismissalsDate</p>
                                        </td>
                                        <td class="tdPersonTable">
                                            <p class="text-muted">@Model[x].PersonalitiesVersions.Schedule.Name</p>
                                        </td>
                                        <td class="tdPersonTable">
                                            <p class="text-muted">@Model[x].PersonalitiesVersions.Entity?.Name</p>
                                        </td>
                                        <td class="tdPersonTable">
                                            <p class="text-muted">@Model[x].PersonalitiesVersions?.EntityCost?.Name</p>
                                        </td>
                                        <td class="tdPersonTable hidden">
                                            <p class="text-muted">@Model[x].PersonalitiesVersions.Actual</p>
                                        </td>
                                            @if (Model[x].StatusError[0] == 0)
                                            {
                                                <td class="tdPersonTable vertical-flex" style='padding-left: 24px !important;'>
                                                    <p class='green_p'></p>
                                                </td>
                                            }
                                            @if (Model[x].StatusError[0] == 1)
                                            {
                                                <td class="tdPersonTable vertical-flex" align='center' style='padding-left: 24px !important;'>
                                                    <p class='red_p'></p>
                                                </td>
                                            }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        }
                        catch {
                            <div> Данных нет :( </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--вычисление высоты таблицы-->
<script>
    var height = $('#global').height();

    height -= $('#cm-header').height();
    height -= $('#headMenu').height();
</script>

<!--инициализация таблицы-->
<script>
    var table = $(".data-table").DataTable({
        "ordering": true,
        "order": [0, 'asc'],
        searching: true,
        bLengthChange: false,
        destroy: true,
        info: false,
        paging: false,
        sDom: '<"row view-filter"<"col-sm-12"<"float-left"l><"float-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
        responsive: !0,
        deferRender: !0,
        scrollY: height,
        scrollCollapse: !0
    });

    // сортируем по-умолчанию по первому столбцу
    table.order([0, 'asc']).draw();

    // поиск по таблице
    $("#searchDatatable").on("keyup", function (event) {
        table.search($(this).val()).draw();
    });

    // скрываем сверху таблицы фильтры data-table
    $('.view-filter').hide();

</script>

<!--клик по строке-->
<script>
    $('.activeRow').click(function () {
        var itemId = this.id;
        var itemName = $(this).find('.userName').text();
        PersonalityVersions(itemId, 0);
    });
    $('#buttonAdd').unbind('click');
    $('#buttonAdd').click(function () {
        AddItem(0, 1)
    })
    
    
</script>

@* Выделение ряда неактивного пользователя *@
<script>
    const table = document.getElementById("tablePerson"); //Находим таблицу
    const rows = table.getElementsByTagName("tr"); //Получаем массив рядов
    for(let i = 0; i < rows.length; i++) { //Проходимся по каждому ряду
        let cell = rows[i].getElementsByTagName('td') //Получаем список ячеек
        // Проходимся по каждой ячейки в поисках "0" или "2"
        for(let j = 0; j < cell.length; j++){ 
            let td = cell[j].querySelector("p").textContent
            if(td === '0' || td === '2') {
                //Закрашиваем ряд
                rows[i].style.backgroundColor = "#f3c7a030";
            }
        }
    }
</script>



