@model PersonalityEditModel

<!--Блок добавления\редактирования работника-->
<div class="panel panel-default panel-default-person modalPersonWidth"  id="personTable" style="margin-bottom:0px">
    <!--Выпадающий список состояний работника-->
    <div class="titlePersontable">
        @if(Model.NewPerson == "1")
        {
            <h3>Данные пользователя</h3>
        }
        else
        {
            <h3>Данные версии пользователя</h3>
        }

            
            @if(@Model.NewPerson != null)
            {
                <input class="hidden" id="NewPerson" value="@Model.NewPerson"/>
            }
            
            @if (Model?.PersonalitiesVersions == null || Model.PersonalitiesVersions?.Actual == 1)
            {
                <select class=" actual" id='actual'>
                    <option value="1" selected='selected' class="optionForColor">Активен</option>
                    <option value="2" class="optionForColor">Отстранен</option>
                    <option value="0" class="optionForColor">Уволен</option>
                </select>
            }
            else if (Model.PersonalitiesVersions?.Actual == 2)
            {
                <select class=" actual" id='actual' >
                    <option value="1" class="optionForColor">Активен</option>
                    <option value="2" selected='selected' class="optionForColor">Отстранен</option>
                    <option value="0" class="optionForColor">Уволен</option>
                </select>
            }
            else
            {
                <select class=" actual" id='actual' >
                    <option value="1" class="optionForColor">Активен</option>
                    <option value="2" class="optionForColor">Отстранен</option>
                    <option value="0" selected='selected' class="optionForColor">Уволен</option>
                </select>
            }

        

    </div> 
        <hr>
    <!--Наполнение данных, если они есть-->
    <div class="personData">
        <!--Первый столбец-->
        @if(Model.PersonalitiesVersions?.Personalities != null)
        {
            <form id="user-form">
                <div class="leftBlockPersonData">
                    <label class="label-light">Фамилия</label>
                    <input required type="text" class="inputPersonData" placeholder="Введите фамилию" id="surnamePerson" value="@Model.PersonalitiesVersions.Surname">
                    <label class="label-light">Имя</label>
                    <input required type="text" class="inputPersonData" placeholder="Введите имя" id="namePerson" value="@Model.PersonalitiesVersions.Name">
                    <label class="label-light">Отчество</label>
                    <input required type="text" class="inputPersonData" placeholder="Введите отчество" id="patronymicPerson" value="@Model.PersonalitiesVersions.Patronymic">
                    <label class="label-light">Дата рождения</label>
                    <input required type="date" min="1900-01-01" max="2010-01-01" class="inputPersonData" id="birthDatePerson" value="@Model.PersonalitiesVersions.Personalities.BirthDate.ToString("yyyy-MM-dd")">
                    <label class="label-light">Должность</label>
                    <input type="hidden" id="personGUID" value="@Model.PersonalitiesVersions.Personalities.Guid">
                    <input type="hidden" id="personVersionGUID" value="@Model.PersonalitiesVersions.Guid">

                    @* Выбор должности *@
                    <div style="width:100%; float:left; max-height:500px; overflow-y:auto">
                        <select required id="jobTitlePerson" class="inputPersonData" data-width="100%" value="@Model.PersonalitiesVersions.JobTitle.Name">
                            @if (Model.JobTitles.FirstOrDefault(g => g.Guid == Model.PersonalitiesVersions.JobTitle.Guid) != null)
                            {
                                <option value="@Model.PersonalitiesVersions.JobTitle.Guid" selected>@Model.PersonalitiesVersions.JobTitle.Name</option>
                            }
                            @foreach (var jobTitle in Model.JobTitles.OrderBy(g => g.Name))
                            {
                                <option value="@jobTitle.Guid">@jobTitle.Name</option>
                            }
                        </select>
                    </div>
                </div>
                
                <div class="rightBlockPersonData">
                    <label class="label-light">ТТ</label>
                    @* Выбор ТТ *@
                    <div style="width:100%; float:left; max-height:500px; overflow-y:auto">
                        <select required id="TTPerson" class="inputPersonData" data-width="100%" value="@Model.PersonalitiesVersions.Location.Name" placeholder="Выберите ТТ">

                        <option value="@Model.PersonalitiesVersions.Location.Guid">@Model.PersonalitiesVersions.Location.Name</option>

                            @foreach (var location in Model.Locations.OrderBy(g => g.Name))
                            {
                                    <option value="@location.Guid">@location.Name</option>
                            }
                        </select>
                    </div>

                <label class="label-light">Дата приема на работу</label>
                    <input required type="date" class="inputPersonData" id="HireDate" min="1900-01-01" value="@Model.PersonalitiesVersions.HireDate.ToString("yyyy-MM-dd")">
                <label class="label-light">Дата увольнения</label>
                    <input type="date" class="inputPersonData dissDate" min="@Model.PersonalitiesVersions.HireDate.ToString("yyyy-MM-dd")" id="DismissalsDate" value="@Model.PersonalitiesVersions.DismissalsDate?.ToString("yyyy-MM-dd")">

                    <label class="label-light">Смена</label>
                    @* Выбор смены *@
                    <div style="width:100%; float:left; max-height:500px; overflow-y:auto">
                        <select required id="ScheduleGUID" class="inputPersonData" data-width="100%" value="@Model.PersonalitiesVersions.Schedule.Name">
                            @foreach (var schedule in Model.Schedules.OrderBy(g => g.Name))
                            {
                                if (Model.Schedules.FirstOrDefault(g => g.Guid == schedule.Guid) != null)
                                {
                                    <option selected="selected" value="@schedule.Guid">@schedule.Name</option>
                                }
                                else
                                {   
                                    <option value="@schedule.Guid">@schedule.Name</option>
                                }
                            }
                        </select>
                    </div>

                    @* Выбор Юр. лица *@
                    <label class="label-light">Юр. лицо</label>
                    <div style="width:100%; float:left; max-height:500px; overflow-y:auto">
                        <select required id="EntityGUID" class="inputPersonData" data-width="100%" value="@Model.PersonalitiesVersions.Entity?.Name">
                            @if (Model.Entity.FirstOrDefault(g => g.Guid == Model.PersonalitiesVersions.Entity?.Guid) != null)
                            {
                                <option selected="selected" disabled value="@Model.PersonalitiesVersions.Entity.Guid">@Model.PersonalitiesVersions.Entity.Name</option>
                            }
                            @foreach (var entity in Model.Entity.OrderBy(g => g.Name))
                            {
                                <option value="@entity.Guid">@entity.Name</option>
                            }
                        </select>
                    </div>

                </div>

                <div class='rightBlockPersonData'>
                    @* Выбор Юр. лица разнесения затрат *@
                    <label class="label-light">Юр. лицо разнесения затрат</label>
                    <div style="width:100%; float:left; max-height:500px; overflow-y:auto">
                        <select required id="EntityCostGUID" class="inputPersonData" data-width="100%">
                            @if (Model.Entity.FirstOrDefault(g => g.Guid == Model.PersonalitiesVersions.Entity?.Guid) != null)
                            {
                                <option selected="selected" disabled value="@Model.PersonalitiesVersions.Entity.Guid">@Model.PersonalitiesVersions.Entity.Name</option>
                            }
                            @foreach (var entity in Model.Entity.OrderBy(g => g.Name))
                            {
                                <option value="@entity.Guid">@entity.Name</option>
                            }
                        </select>
                    </div>

                    @if(Model.NewPerson == "1")
                    {
                        <label class="label-light hidden">Период действия версии</label>
                        <div class='rightBlockPersonData__versions hidden'>
                            <label class="label-light">С</label>
                            <div>
                                <input disable type="date" class="inputPersonData correctForData" id="VersionStartDate" value="@Model.PersonalitiesVersions.VersionStartDate?.ToString("yyyy-MM-dd")">
                            </div>
                            <label class="label-light">По</label>
                            <div>
                                <input disable type="date" class="inputPersonData correctForData" id="VersionEndDate" value="@Model.PersonalitiesVersions.VersionEndDate?.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                    }
                    else if(Model.NewPerson == "2")
                    {
                        <label class="label-light">Период действия версии</label>
                        <input class='hidden' value='@Model.NewPerson' id='check_person'>
                        <div class='rightBlockPersonData__versions'>
                            <label class="label-light">С</label>
                            <div>
                                <input required type="date" class="inputPersonData correctForData" id="VersionStartDate" min="@Model.PersonalitiesVersions.HireDate.ToString("yyyy-MM-dd")" max="@Model.PersonalitiesVersions.VersionEndDate?.ToString("yyyy-MM-dd")" value="@Model.PersonalitiesVersions.VersionStartDate?.ToString("yyyy-MM-dd")">
                            </div>
                            <label class="label-light">По</label>
                            <div>
                                <input type="date" class="inputPersonData correctForData" id="VersionEndDate" min="@Model.PersonalitiesVersions.VersionStartDate?.ToString("yyyy-MM-dd")" value="@Model.PersonalitiesVersions.VersionEndDate?.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                    }
                    else
                    {
                        <label class="label-light">Период действия версии</label>
                        <input class='hidden' value='@Model.NewPerson' id='check_person'>
                        <div class='rightBlockPersonData__versions'>
                            <label class="label-light">С</label>
                            <div>
                                <input required type="date" class="inputPersonData correctForData" min="@Model.PersonalitiesVersions.HireDate.ToString("yyyy-MM-dd")" id="VersionStartDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                            </div>
                            <label class="label-light">По</label>
                            <div>
                                <input type="date" class="inputPersonData correctForData" id="VersionEndDate" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                    }
                    @if (Model.NewPerson == "1")
                    {
                        <div class="buttonAddPerson">
                            <button class="buttonAddPersonData" type="submit">ДОБАВИТЬ</button>
                            <button class="buttonAddPersonData buttonClearPersonData" onclick="clearInputs()">ОЧИСТИТЬ</button>
                        </div>
                    }
                    else
                    {
                        <div class="buttonAddPerson">
                            <button class="buttonAddPersonData" type="submit">СОХРАНИТЬ</button>
                            <button class="buttonAddPersonData buttonClearPersonData" onclick="clearInputs()">ОЧИСТИТЬ</button>
                        </div>
                    }
                    
                </div>
            </form>
        }
        else
        {
            <form id="user-form">
                <div class="leftBlockPersonData">
                    <label class="label-light">Фамилия</label>
                    <input required type="text" class="inputPersonData" placeholder="Введите фамилию" id="surnamePerson">
                    <label class="label-light">Имя</label>
                    <input required type="text" class="inputPersonData" placeholder="Введите имя" id="namePerson">               
                    <label class="label-light">Отчество</label>
                    <input required type="text" class="inputPersonData" placeholder="Введите отчество" id="patronymicPerson" >
                    <label class="label-light">Дата рождения</label>
                    <input required type="date" class="inputPersonData" id="birthDatePerson" min="1900-01-01" max="2010-01-01">
                    <label class="label-light">Должность</label>
                    <input required type="hidden" id="personGUID" value="0">

                    @* Выбор должности *@
                    <div style="width:100%; float:left; max-height:500px; overflow-y:auto">
                        <select placeholder="Выберите должность" required id="jobTitlePerson" class="inputPersonData" data-width="100%">
                            @foreach (var jobTitle in Model.JobTitles.OrderBy(g => g.Name))
                            {
                                if (Model.JobTitles.FirstOrDefault(g => g.Guid == jobTitle.Guid) != null)
                                {
                                    <option value="@jobTitle.Guid">@jobTitle.Name</option>
                                }
                                else
                                {
                                    <option value="@jobTitle.Guid">@jobTitle.Name</option>
                                }
                                    

                            }
                        </select>
                    </div>
                </div>
                
                <div class="rightBlockPersonData">
                    <label class="label-light">ТТ</label>
                    @* Выбор ТТ *@
                    <div style="width:100%; float:left; max-height:500px; overflow-y:auto">
                        <select placeholder="Выберите ТТ" required id="TTPerson" class="inputPersonData" data-width="100%">
                            @foreach (var location in Model.Locations.OrderBy(g => g.Name))
                            {
                                if (Model.Locations.FirstOrDefault(g => g.Guid == location.Guid) != null)
                                {
                                    <option selected="selected" value="@location.Guid">@location.Name</option>
                                }
                                else
                                {
                                    <option value="@location.Guid">@location.Name</option>
                                }
                            }
                        </select>
                    </div>

                    <label class="label-light">Дата приема на работу</label>
                    <input required type="date" class="inputPersonData" id="HireDate">
                    <label class="label-light">Дата увольнения</label>
                    <input type="date" class="inputPersonData dissDate" id="DismissalsDate">
                    <label class="label-light">Смена</label>
                    @* Выбор смены *@
                    <div style="width:100%; float:left; max-height:500px; overflow-y:auto">
                        <select placeholder="Выберите смену" required id="ScheduleGUID" class="inputPersonData" data-width="100%">
                            @foreach (var schedule in Model.Schedules.OrderBy(g => g.Name))
                            {
                                if (Model.Schedules.FirstOrDefault(g => g.Guid == schedule.Guid) != null)
                                {
                                    <option selected="selected" value="@schedule.Guid">@schedule.Name</option>
                                }
                                else
                                {
                                    <option value="@schedule.Guid">@schedule.Name</option>
                                }
                            }
                        </select>
                    </div>

                    <label class="label-light">Юр. лицо</label>
                    <div style="width:100%; float:left; max-height:500px; overflow-y:auto">
                        <select required id="EntityGUID" class="inputPersonData" data-width="100%">
                            @foreach (var entity in Model.Entity.OrderBy(g => g.Name))
                            {
                                <option selected="selected" value="@entity.Guid">@entity.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class='rightBlockPersonData'>
                    @* Выбор Юр. лица *@
                    <label class="label-light">Юр. лицо разнесения затрат</label>
                    <div style="width:100%; float:left; max-height:500px; overflow-y:auto">
                        <select required id="EntityCostGUID" class="inputPersonData" data-width="100%">
                            @foreach (var entity in Model.Entity.OrderBy(g => g.Name))
                            {
                                    <option selected="selected" value="@entity.Guid">@entity.Name</option>
                            }
                        </select>
                    </div>
                    @if(Model.NewPerson == "1")
                    {
                    <label class="label-light hidden">Период действия версии</label>
                    <div class='rightBlockPersonData__versions hidden'>
                        <label class="label-light">С</label>
                        <div>
                            <input disable type="date" class="inputPersonData correctForData" id="VersionStartDate">
                        </div>
                        <label class="label-light">По</label>
                        <div>
                            <input disable type="date" class="inputPersonData correctForData" id="VersionEndDate">
                        </div>
                    </div>
                    }
                    else
                    {
                    <label class="label-light">Период действия версии</label>
                    <div class='rightBlockPersonData__versions'>
                        <label class="label-light">С</label>
                        <div>
                            <input required type="date" class="inputPersonData correctForData" id="VersionStartDate">
                        </div>
                        <label class="label-light">По</label>
                        <div>
                            <input required type="date" class="inputPersonData correctForData" id="VersionEndDate">
                        </div>
                    </div>   
                    }

                    <div class="buttonAddPerson ">
                        <button class="buttonAddPersonData" type="submit">ДОБАВИТЬ</button>
                        <button class="buttonAddPersonData buttonClearPersonData" onclick="clearInputs()">ОЧИСТИТЬ</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>


<script>
    // Смена состояния сотрудника в зависимости от заполненности даты увольнения
    const actualPicker = document.querySelector('.actual');
    const valueDismissalsDate = document.querySelector('.dissDate');
    valueDismissalsDate.addEventListener('input', () => {
        if(valueDismissalsDate.value != '') {
            actualPicker.innerHTML = "<option value='1'>Активен</option><option value='2' >Отстранен</option><option value='0' selected>Уволен</option>";              
        } else {
            actualPicker.innerHTML = "<option value='1' selected>Активен</option><option value='2' >Отстранен</option><option value='0' >Уволен</option>";
        }
    })

    // Возврат к таблице
    const NewPerson = document.getElementById('NewPerson').value; // 1 - новый сотрудник, 0 и 2 - не новый
    const personGUID = document.getElementById('personGUID').value;
    if(NewPerson == 1)
    {
        $('#back').unbind('click');
        $('#back').click(function () { location.hash = "#Personality" });
    } else {
        $('#back').unbind('click');
        $('#back').click(function () { PersonalityVersions(personGUID, 2) });
        
    }
    

        
    

    function clearInputs() {
        // Получаем все элементы input на странице и очищаем их значение
        document.querySelectorAll(".inputPersonData").forEach(input => input.value = "");
    }

    // Валидация формы + отправка
    document.getElementById("user-form").addEventListener("submit", function(event) {
        event.preventDefault();
        if (this.checkValidity()) {
            if(location.hash == '#EditPerson'){
                editUser();
            }
            else {
                addUser();
            }
        }
    })
</script>

<script>
    const name = document.getElementById('namePerson');
    const surname = document.getElementById('surnamePerson');
    if(name.value == '' && surname.value == '') {
        clearInputs();
    }
</script>

@* Отправляем JSON *@
<script>
    function addUser() {
        const Personality = {};
        const personGUID = document.getElementById('personGUID').value;
        Personality.Name = $('#namePerson').val();
        Personality.Surname = $('#surnamePerson').val();
        Personality.Patronymic = $('#patronymicPerson').val();
        Personality.BirthDate = $('#birthDatePerson').val();
        Personality.JobTitle = $('#jobTitlePerson').val();
        Personality.location = $('#TTPerson').val();
        Personality.HireDate = $('#HireDate').val();
        Personality.DismissalsDate = $('#DismissalsDate').val();
        Personality.Schedule = $('#ScheduleGUID').val();
        Personality.Actual = $('.actual').val();
        const EntityGUID = document.getElementById('EntityGUID').value;
        const EntityCostGUID = document.getElementById('EntityCostGUID').value;
        Personality.Entity = EntityGUID;
        Personality.EntityCost = EntityCostGUID;
        Personality.NewPerson = $('#NewPerson').val();
        Personality.personGUID = personGUID;
        Personality.VersionStartDate = $('#VersionStartDate').val();
        Personality.VersionEndDate = $('#VersionEndDate').val();


        const json = JSON.stringify(Personality)
         $.ajax({
            type: "POST",
            url: '/Personality/PersonalityAdd',
            data: { json: json },
            datatype: "text",
            success: function (result) {
                if (result.ok) {
                    SpinnerShow();
                    location.hash = '#Personality'
                }
                else {
                    openModal('Ошибка', result)
                }
            },
            error: function (error) { openModal('Ошибка', error) }
        });
    }
</script>

<script>
    const HireDate = document.getElementById('HireDate'); // Дата приема на работу
    const VersionStartDate = document.getElementById('VersionStartDate') // Дата старта версии
    const VersionEndDate = document.getElementById('VersionEndDate') // Дата старта версии
    const DismissalsDate = document.getElementById('DismissalsDate') // Дата увольнения

    HireDate.addEventListener('input', () => {
        const HireDateValue = HireDate.value;
        VersionStartDate.min = HireDateValue;
        DismissalsDate.min = HireDateValue;
    })

    VersionStartDate.addEventListener('input', () => {
        VersionEndDate.min = VersionStartDate.value;
    })

    VersionEndDate.addEventListener('input', () => {
        VersionStartDate.max = VersionEndDate.value;
    })
</script>

@* Отправляем JSON (Редактирование пользователя) *@
<script>
    function editUser() {
        const Personality = {};
        const personGUID = document.getElementById('personGUID').value;
        const personVersionGUID = document.getElementById('personVersionGUID').value;
        Personality.Guid = personVersionGUID;
        Personality.Name = $('#namePerson').val();
        Personality.Surname = $('#surnamePerson').val();
        Personality.Patronymic = $('#patronymicPerson').val();
        Personality.BirthDate = $('#birthDatePerson').val();
        Personality.JobTitle = $('#jobTitlePerson').val();
        Personality.location = $('#TTPerson').val();
        Personality.HireDate = $('#HireDate').val();
        Personality.DismissalsDate = $('#DismissalsDate').val();
        Personality.Schedule = $('#ScheduleGUID').val();
        Personality.Actual = $('.actual').val();
        Personality.VersionStartDate = $('#VersionStartDate').val();
        Personality.VersionEndDate = $('#VersionEndDate').val();
        const EntityGUID = document.getElementById('EntityGUID').value;
        const EntityCostGUID = document.getElementById('EntityCostGUID').value;
        Personality.Entity = EntityGUID;
        Personality.EntityCost = EntityCostGUID;
        Personality.NewPerson = $('#NewPerson').val();
        Personality.personGUID = personGUID;

        const json = JSON.stringify(Personality)
        $.ajax({
            type: "PUT",
            url: '/Personality/PersonalityPut',
            data: { json: json },
            datatype: "text",
            success: function (result) {
                if (result.ok) {
                    SpinnerShow();
                    location.hash = '#Personality'
                }
                else {
                    openModal('Ошибка', result.errorMessage)
                }
            },
            error: function (error) {
                openModal('Ошибка', error.errorMessage)
            }
        });
    }
</script>
